<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ metadata.description }}">
    <meta name="generator" content="11ty">
    <link rel="icon" type="image/png" href="{{ '/favicon.png' | url }}">
    <title>{{ title or metadata.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/style.css' | url }}">
  </head>
  <body>
      {{ content | safe }}
  </body>
</html>
