:root {
  --clr-text: hsla(0, 0%, 15%, 0.8);
  --clr-bg: hsla(0, 0%, 90%, 0.8);
  --clr-tailwind: hsl(190, 85%, 53%);
  --clr-eleventy: hsl(0, 0%, 16%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
  }

  body {
    color: var(--clr-text);
    background-color: var(--clr-bg);
    font-family: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold;
  }
}

@layer components {
  .layout {
    @apply max-w-[80vw] 2xl:max-w-[1200px] md:max-w-[500px] lg:max-w-[768px] xl:max-w-[900px] mx-auto w-full;
  }
}

@layer utilities {
  .clr-tailwind {
    @apply text-[color:var(--clr-tailwind)];
  }
  .clr-eleventy {
    @apply text-[color:var(--clr-eleventy)];
  }
}
