<div class="layout my-8">
  <h1 class="mb-2 py-4 font-light text-4xl">¡Hola 👋🏼!</h1>
  <p class="text-base">
    Simple starter con
    <span class="clr-eleventy pr-1">11ty</span>&
    <span class="clr-tailwind">Tailwind</span>
  </p>
</div>
